<div class="card" >
  <h5 class="card-header font-monospace">
    Friend
  </h5>
  <ul class="list-group list-group-flush font-monospace">
    <li class="list-group-item "><b>Name: </b><%=  @friend.first_name %> <%=  @friend.last_name %></li>
    <%# <li class="list-group-item"><b>Last name: </b></li> %>
    <li class="list-group-item"><b>Email: </b><%=  @friend.email %></li>
    <li class="list-group-item"><b>Phone: </b><%=  @friend.phone %></li>
    <li class="list-group-item"><b>Twitter: </b><%=  @friend.twitter %></li>
    <li class="list-group-item d-flex justify-content-around">
      <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-warning"%>
       <%= button_to "Delete", @friend, method: :delete, class:"btn btn-danger" %>    
     <%= link_to "Back", friends_path, class:"btn btn-secondary"%>
    </li>
   
      

  </ul>
</div>
