<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
  <%= link_to "Friend App", root_path, class:"navbar-brand" %>
    <%# <a class="navbar-brand" href="/">Friend App</a> %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-nav d-flex justify-content-between" id="navbarNav">
   
     <ul class="navbar-nav">
     <%if !user_signed_in?%>
       <li class="nav-item">
        <%= link_to "Log in", new_user_session_path, class:"nav-link"%>
        </li>
        </ul>
         <ul class="navbar-nav">
          <li class="nav-item">
        <%= link_to "Sign up",  new_user_registration_path, class:"nav-link btn btn-danger"%>
        </li>
         </ul>
          
                <%end%>
<%=link_to "About", home_about_path, class:"nav-link"%>

         <%if user_signed_in?%>
    
            <li class="nav-item">
        <%= link_to "New Friend", new_friend_path, class:"nav-link"%>
        </li>
         <li class="nav-item">
        <%= link_to "Edit profile", edit_user_registration_path, class:"nav-link"%>
        </li>
        </ul>
          <li class="nav-item">
        <%= button_to "Sign out",  destroy_user_session_path, :method => :delete, class:"btn btn-warning"%>
        </li>
        <%end%>
     
        
        <%# <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> %>
     
    </div>
  </div>
</nav>